.login-popup{
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
    backdrop-filter: blur(3px);

}

.login-popup-container{
    place-self: center;
    width: max(30vw, 400px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black
}

.svg-login-icon{
    font-size: 20px;
    cursor: pointer;
    color: var(--primary-color);
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #bbbbbb;
    padding: 10px;
    border-radius: 10px;
}

.login-popup-inputs input:focus{
    outline: none; /* hilangkan default border biru */
    border: 1px solid var(--primary-color); /* garis tegas saat fokus */
    box-shadow: 0 2px 10px rgba(202, 44, 44, 0.2); /* bayangan lembut */
    backdrop-filter: blur(5px); /* blur latar belakang jika ingin efek kaca */
    transition: all 0.5s ease;
    
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.login-popup-container button:hover{
    border: 0.5px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    transition: all 0.3s ease;

}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -10px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.login-popup-question p span{
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}


.login-method-toggle {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 1px;
    overflow: hidden;
  }
  
  .login-method-toggle a {
    flex: 1;
    padding: 0.6rem 1rem;
    text-align: center;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .login-method-toggle a:hover {
    color: #000;
    background: #f5f5f5;
  }
  
  .login-method-toggle a.active {
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color);
  }
  
  .otp-input-group {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin: 10px 0;
  }
  
  .otp-input-group input {
    width: 40px;
    height: 45px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    
  }
  
  /* Chrome, Edge, Safari */
.otp-input-group input::-webkit-inner-spin-button,
.otp-input-group input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .otp-timer{
    text-align: center;
  }

  .input-nomor-wa{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .input-nomor-wa label{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: center;

  }

  .input-nomor-wa input{
    font-size: 15px;
    color: #5a5a5a;
    margin-bottom: 15px;
  }

  .login-icon{
    font-size: 50px;
    text-align: center;
    color: #00aa5b;

  }
 
  .login-otp-question{
    text-align: center;
  }
  .login-otp-question span{
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}


.captcha-box{
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .login-popup-container{
    
    width: max(23vw, 330px);
    
}
 
    }
